@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Fira Sans", serif;
    /* background-color: #F5F5F5; */
}

body {
    background-color: #F1F1F3;
}

/* Shared Styles */
.btn-primary {
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
button:hover {
    cursor: pointer;
    font-weight: bold;
}
p {
    color: rgba(14, 14, 14,70%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 160px;
    margin-bottom: 20px;
}
nav button {
    height: 35px;
    border: 1px solid #006A50;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #006A50;
    font-weight: 500;
    padding: 5px 20px;
}

.banner {
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    background-color: #C6E4D6;
    border-radius: 10px;
}
.banner p {
    color: rgba(14, 14, 14, 50%);
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 10px;
}
.banner h1 {
    font-size: 56px;
    margin: 0;
    padding-bottom: 10px;
}
.banner button {
    padding: 10px 25px;
}

.vision {
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
}
.vision .cards {
    display: flex;
    gap: 24px;
}
.vision .cards .card-1 {
    padding: 32px;
    border-radius: 8px;
    background-color: rgba(84, 144, 245, 20%);
}
.vision .cards .card-1 button {
    background-color: #5490f5;
    color: FFFFFF;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.vision .cards .card-2 {
    padding: 32px;
    border-radius: 8px;
    background-color: #C6E4D6;
}
.vision .cards .card-2 button {
    background-color: #09A15C;
    color: FFFFFF;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.vision .cards .card-3 {
    padding: 24px;
    border-radius: 8px;
    background-color: #F7EBCF;
}
.vision .cards .card-3 button {
    background-color: #FFC239;
    color: FFFFFF;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.vision .cards .card-1:hover {
    background-color: aliceblue;
}
.vision .cards .card-2:hover {
    background-color: aliceblue;
}
.vision .cards .card-3:hover {
    background-color: aliceblue;
}

.quotes {
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
    padding: 48px 24px;
    border-radius: 10px;
    background-color: #FFFFFF;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 25px 35px;
    color: rgba(14, 14, 14,80%);
}
.quotes #title {
    color: rgba(14, 14, 14,60%);
}

.news {
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
}
.news .article-1 {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 24px;
}
.news .article-1 img {
    border-radius: 15px;
}
.news .article-2 {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 15px;
}
.news .article-2 img {
    border-radius: 15px;
}

.donate {
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
    text-align: center;
}
.donate .amounts {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
}
.donate .amount {
    padding: 30px 40px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.donate .amount:hover{
    background-color: #C6E4D6;
    cursor: pointer;
}
.donate .highlight {
    background-color: #C6E4D6;
}
.donate input{
    padding: 20px 40px;
    width: 680px;
    margin-bottom: 32px;
}
.donate button {
    padding: 15px 25px;
}

.newsletter{
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
    text-align: center;
    padding: 80px 100px;
    border-radius: 10px;
    background-color: #C6E4D6;
}
.newsletter form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
}
.newsletter form input {
    padding: 18px 40px;
    width: 420px;
    border: none;
    border-radius: 8px 0 0 8px;
}
.newsletter form button {
    padding: 0 30px;
    border-radius: 0 8px 8px 0;
}

footer {
    padding: 50px 160px;
    text-align: center;
    background-color: #FFFFFF;
}
footer h3 {
    border-bottom: 1px groove rgba(14, 14, 14,10%);
    padding-bottom: 32px;
    margin-bottom: 32px;
}
footer img {
    padding: 5px;
}
